* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  color: #333;
}


.admin-page {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  text-align: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
  font-size: 18px;
}

.sidebar a:hover {
  background-color: #34495e;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  height: 100vh;
  overflow-y: auto;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 32px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.additional-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-content h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 24px;
}

.additional-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .admin-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: static;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .content {
    padding: 10px;
  }

  .sidebar h2 {
    font-size: 20px;
  }

  .sidebar a {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  .chart-container {
    margin-bottom: 20px;
  }

  .additional-content h2 {
    font-size: 22px;
  }
}
